<template>
  <div id="root">
    <BNavbar toggleable="md" variant="secondary" type="dark">
      <BNavbarBrand>Harberger Tax Demonstration</BNavbarBrand>
      <BNavbarToggle target="nav-collapse"></BNavbarToggle>
      <BCollapse id="nav-collapse" is-nav>
        <BNavbarNav class="ml-auto">
          <BNavItem class="text-white">
            <BButton class="w-100" variant="outline-light" @click.prevent="to('Start')"
              >Start</BButton
            >
          </BNavItem>
          <BNavItem class="text-white">
            <BButton class="w-100" variant="outline-light" @click.prevent="to('Run')">Run</BButton>
          </BNavItem>
        </BNavbarNav>
      </BCollapse>
    </BNavbar>
    <RouterView />
  </div>
</template>
<script>
export default {
  name: 'Root',
  methods: {
    to(name) {
      this.$router.push({name});
    },
  },
};
</script>
<style lang="scss" scoped>
#nav-collapse ul * {
  color: white;
  &:hover {
    color: grey;
  }
}
</style>
