<template>
  <BContainer id="run" class="px-3 pt-3">
    <BRow>
      <BCol
        v-for="participant in participants"
        :key="participant.id"
        class="pb-3"
        :order="participant.id === 1 ? '1' : '0'"
        order-md="0"
        cols="12"
        md="4"
      >
        <BCard :border-variant="current.initiator === participant.id ? 'primary' : ''">
          <BCardTitle>{{ participant.name }}</BCardTitle>
          <BCardText>
            <BRow align-h="around">
              <BCol cols="12" lg="4" class="px-1">
                <BBadge>funds: {{ participant.funds | round }}</BBadge>
              </BCol>
              <BCol cols="12" lg="4" class="px-1">
                <BBadge>chunks: {{ participant.chunks | round }}</BBadge>
              </BCol>
              <BCol cols="12" lg="4" class="px-1">
                <BBadge>chance: {{ participant.chance | round }}</BBadge>
              </BCol>
            </BRow>
          </BCardText>
          <BButton
            :disabled="current.seller !== null || !canSell(participant.id) || !canPurchase"
            class="mt-3"
            variant="outline-primary"
            @click="setSeller(participant.id)"
          >
            Initiate auction
          </BButton>
        </BCard>
      </BCol>
    </BRow>
    <BRow>
      <BCol cols lg="6">
        <BCard bg-variant="light" class="mb-3">
          <BCardTitle class="mb-0">Round: {{ current.round }}</BCardTitle>
          <BCardBody class="pb-0">
            <BRow class="pb-3" align-h="around">
              <BCol>Current seller: {{ currentSeller }}</BCol>
              <BCol>Starting price: {{ currentPrice }}</BCol>
            </BRow>
            <BRow align-h="around">
              <BCol v-for="(action, name) in actions" :key="name" cols="4">
                <BButton
                  :variant="action.variant || 'outline-secondary'"
                  class="w-100"
                  @click="handleAction(name)"
                  v-b-tooltip.hover
                  :title="action.tooltip"
                  :disabled="action.disabled || false"
                >
                  {{ name }}
                </BButton>
              </BCol>
            </BRow>
          </BCardBody>
        </BCard>
      </BCol>
      <BCol>
        <BCard bg-variant="light" class="mb-3" style="position: relative d-flex">
          <Log :data="log.content" />
        </BCard>
      </BCol>
    </BRow>
    <BCard v-if="bid.show && current.seller !== null" bg-variant="light" class="mb-3">
      <BRow align-h="around">
        <BCol cols="4">
          <BFormGroup
            :label="`Your bid (1 - ${participants[1].funds})`"
            label-for="input-bid"
            label-cols="8"
            class="text-right mb-0 d-flex align-items-center"
          >
            <BFormInput
              id="input-bid"
              step="0.01"
              min="1"
              :max="participants[1].funds"
              v-model.number="bid.amount"
              type="number"
              trim
            ></BFormInput>
          </BFormGroup>
        </BCol>
        <BCol cols="4">
          <BButton variant="primary" class="w-100" @click="userBid">Bid</BButton>
        </BCol>
      </BRow>
    </BCard>
    <BCard bg-variant="light" class="mb-3">
      <BRow align-h="center" align-v="center">
        <BCol cols md="4">
          <BFormCheckbox v-model="diagram.show" @change="updateDiagramContent">
            Show prediction diagram
          </BFormCheckbox>
        </BCol>
        <BCol cols md="4">
          <BFormCheckbox v-model="meta.show">
            Show prediction analysis
          </BFormCheckbox>
        </BCol>
        <BCol cols md="8" class="mt-3">
          <BFormGroup
            label="Maximum fund difference"
            label-for="input-fund-diff"
            label-cols="8"
            class="text-right mb-0 d-flex align-items-center"
          >
            <BFormInput
              id="input-fund-diff"
              step="0.01"
              min="0.00"
              @input="updateWealthDifference"
              v-model.number="wealthDifference"
              type="number"
              trim
            ></BFormInput>
          </BFormGroup>
        </BCol>
      </BRow>
    </BCard>
    <BCard v-if="meta.show && meta.content.length > 0" bg-variant="light" class="mb-3">
      <BRow><MetaView :data="meta.content"/></BRow>
    </BCard>
    <BRow v-if="diagram.show && diagram.content">
      <Mermaid :styles="diagram.styles" :content="diagram.content" class="py-3 px-5 w-100" />
    </BRow>
  </BContainer>
</template>
<script>
import {clone, actions} from '../store';
import {Mermaid, MetaView, Log} from '../components';
import {generateTree} from '../simulation';
import {ActionType, generateAction, generateBid, NoneAction, PurchaseAction} from '../action';

export default {
  name: 'Run',
  components: {Mermaid, MetaView, Log},
  data() {
    return {
      actions: {
        Participate: {
          variant: 'outline-primary',
          disabled: true,
          tooltip: 'Participate in this rounds auction',
        },
        Automatic: {tooltip: 'Let your action be up to RNG'},
        Skip: {variant: 'outline-danger', tooltip: 'Do nothing this turn'},
      },
      bid: {
        show: false,
        amount: 1,
      },
      meta: {
        show: false,
        content: [],
      },
      diagram: {
        show: false,
        content: null,
        styles: [],
      },
      current: {
        seller: null,
        price: null,
        initiator: 1,
        round: 0,
      },
      log: {
        show: false,
        content: [],
      },
      wealthDifference: 2,
      participants: [],
      participantActions: {},
      discount: 0,
      tax: 0,
      maxDepth: 3,
      analysisResult: {},
    };
  },
  computed: {
    sellers() {
      return this.participants.filter(({id}) => this.canSell(id));
    },
    currentSeller() {
      return this.current.seller !== null ? this.participants[this.current.seller].name : 'N/A';
    },
    currentPrice() {
      return this.current.price || 'N/A';
    },
    canPurchase() {
      return this.participants[1].funds >= 1;
    },
  },
  beforeMount() {
    this.resetState();
  },
  methods: {
    resetState() {
      const {participants, tax, round, discount} = clone(this.$store);
      participants.forEach((participant, i) => {
        if (!this.participants[i]) {
          this.participants.push(participant);
        } else {
          this.participants[i].funds = participant.funds;
          this.participants[i].chunks = participant.chunks;
          this.participants[i].chance = participant.chance;
        }
      });
      this.tax = tax;
      this.current.round = round;
      this.discount = discount;
      if (this.participants[1].funds < 1) {
        this.actions.Participate.disabled = true;
      }
      this.setSeller();
    },
    canSell(id) {
      return id !== 1 && this.participants[id].chunks > 0;
    },
    enableBid() {
      this.bid.amount = 1;
      this.actions.Participate.disabled = true;
      this.bid.show = true;
    },
    setSeller(id) {
      if (id !== undefined) {
        this.current.seller = id;
        this.current.price = 1;
        this.enableBid();
      } else {
        this.current.seller = null;
        this.current.price = 0;
        this.bid.show = false;
      }
    },
    nextInitiator() {
      this.current.initiator = 1 + (this.current.initiator % 2); // skip pool
    },
    handleAction(action) {
      switch (action) {
        case 'Participate': {
          this.enableBid();
          // ready for this.userBid()
          break;
        }

        case 'Automatic': {
          this.bid.show = false;
          this.automaticTurn(1);
          this.resolveTurn();
          break;
        }

        case 'Skip': {
          this.bid.show = false;
          this.participantActions[1] = new NoneAction();
          this.resolveTurn();
          break;
        }

        default: {
          console.log('unhandled action', action);
        }
      }
    },
    userBid() {
      const action = new PurchaseAction(1, this.current.seller);
      action.setPrice(this.bid.amount);
      this.participantActions[1] = action;
      this.submitBid(action);
    },
    submitBid(action) {
      if (action.type === ActionType.Purchase && action.price >= this.current.price) {
        this.current.price = action.price;
      }

      if (action.buyerId === 1) {
        this.resolveTurn();
      }
    },
    automaticTurn(id) {
      const action = generateAction(this.participants[id], this.participants, this.current.seller);
      if (action.type === ActionType.Purchase) {
        action.setPrice(generateBid(this.participants[id], 1));
        if (this.current.seller === null) {
          this.setSeller(action.seller);
        }
        this.submitBid(action);
      }
      this.participantActions[id] = action;
    },
    resolveTurn() {
      if (this.current.initiator !== 2) {
        this.automaticTurn(2);
      }
      const bids = Object.values(this.participantActions).filter(
        ({type}) => type === ActionType.Purchase,
      );
      if (bids.length > 0) {
        const winningBid = bids.reduce((highest, current) =>
          current.type === ActionType.Purchase && current.price > highest.price ? current : highest,
        );
        const buyer = this.participants[winningBid.buyerId];
        const seller = this.participants[winningBid.sellerId];
        this.log.content.push({
          round: this.current.round,
          buyer,
          seller,
          price: winningBid.price,
        });
        this.$store.dispatch(actions.TRANSACT, winningBid);
      }
      this.nextTurn();
    },
    nextTurn() {
      if (this.canPurchase) {
        this.actions.Participate.disabled = false;
      }
      this.current.initiator = 1 + (this.current.initiator % 2); // skip pool
      this.$store.dispatch(actions.NEXTROUND);
      this.resetState();
      this.updateDiagramContent();
      if (this.current.initiator === 2) {
        this.automaticTurn(2);
      }
    },
    updateWealthDifference(amount) {
      this.wealthDifference = Number(amount);
      this.updateDiagramContent();
    },
    updateDiagramContent(show) {
      if (show !== undefined) {
        this.diagram.show = show;
      }
      if (this.diagram.show) {
        this.prediction();
      }
    },
    prediction() {
      if (!this.diagram.show) {
        return;
      }

      const {participants, discount: discountFactor, tax, maxDepth, wealthDifference} = this;
      const {analysisResult, data, meta, styles} = generateTree(participants, {
        discountFactor,
        tax,
        maxDepth,
        wealthDifference,
      });

      this.analysisResult = analysisResult;
      this.diagram.content = `graph LR\n${data.join('\n')}`;
      this.diagram.styles = styles;
      this.meta.content = meta;
    },
  },
};
</script>
