<template>
  <BContainer id="start" class="py-3">
    <BCard>
      <BForm @submit.prevent="submit">
        <BRow>
          <BCol v-for="participant in participants" :key="participant.id" cols md="4" class="mb-3">
            <BCard bg-variant="light">
              <BCardTitle>Participant: {{ participant.name }}</BCardTitle>
              <BFormGroup
                label="Starting funds"
                :label-for="`input-funds-${participant.id}`"
                label-cols-sm="6"
                class="text-sm-right d-flex align-items-center"
              >
                <BFormInput
                  :id="`input-funds-${participant.id}`"
                  step="0.01"
                  min="0"
                  v-model.number="participants[participant.id].funds"
                  type="number"
                  trim
                ></BFormInput>
              </BFormGroup>
              <BFormGroup
                label="Starting chunks"
                :label-for="`input-chunks-${participant.id}`"
                label-cols-sm="6"
                class="text-sm-right d-flex align-items-center"
              >
                <BFormInput
                  :id="`input-chunks-${participant.id}`"
                  v-model.number="participants[participant.id].chunks"
                  type="number"
                  trim
                ></BFormInput>
              </BFormGroup>
              <BFormGroup
                label="Chance to bid (%)"
                :label-for="`input-chance-${participant.id}`"
                label-cols-sm="6"
                class="text-sm-right d-flex align-items-center"
              >
                <BFormInput
                  :id="`input-chance-${participant.id}`"
                  step="0.01"
                  min="0"
                  max="1"
                  v-model.number="participants[participant.id].chance"
                  type="number"
                  trim
                  :disabled="participant.id === 0"
                ></BFormInput>
              </BFormGroup>
            </BCard>
          </BCol>
        </BRow>
        <BCard bg-variant="light" class="mb-3">
          <BRow align-h="around">
            <BFormGroup
              label="Tax rate (%)"
              label-for="input-tax"
              label-cols-sm="6"
              class="text-sm-right mb-0 d-flex align-items-center"
            >
              <BFormInput
                id="input-tax"
                step="0.01"
                min="0"
                max="1"
                v-model.number="tax"
                type="number"
                trim
              ></BFormInput>
            </BFormGroup>
            <BFormGroup
              label="Discount factor (%)"
              label-for="input-discount"
              label-cols-sm="6"
              class="text-sm-right mb-0 d-flex align-items-center"
            >
              <BFormInput
                id="input-discount"
                :step="0.01"
                :min="0.0"
                :max="1"
                v-model.number="discount"
                type="number"
                trim
              ></BFormInput>
            </BFormGroup>
          </BRow>
        </BCard>
        <BButton type="submit" variant="primary">Continue</BButton>
      </BForm>
    </BCard>
  </BContainer>
</template>
<script>
import {actions, mutations, clone} from '../store';

export default {
  name: 'Start',
  data() {
    return {
      participants: [],
      tax: 0,
      discount: 0,
    };
  },
  beforeMount() {
    const {participants, tax, discount} = clone(this.$store);
    Object.assign(this, {participants, tax, discount});
  },
  methods: {
    submit() {
      const {participants, tax, discount} = this;
      participants.forEach((participant) => {
        console.log('set', JSON.parse(JSON.stringify(participant)));
        this.$store.dispatch(actions.SET, participant);
      });
      this.$store.commit(mutations.PARAMETERS, {tax, discount});
      this.$router.push({name: 'Run'});
    },
  },
};
</script>
