<template>
  <BForm @submit.prevent="submit" id="BidForm">
    <BRow align-h="around" align-v="center" class="px-3">
      <BCol cols="12" lg="1" class="pb-lg-0 pb-3"><p class="h4 mb-0">Bid</p></BCol>
      <BCol cols="12" lg="6" class="pb-lg-0 pb-3">
        <BRow align-h="around">
          <BCol cols="4">
            <BButton variant="outline-primary" class="w-100" @click.prevent="submit(0.01)">
              + 0.01
            </BButton>
          </BCol>
          <BCol cols="4">
            <BButton variant="outline-primary" class="w-100" @click.prevent="submit(0.1)">
              + 0.1
            </BButton>
          </BCol>
          <BCol cols="4">
            <BButton variant="outline-primary" class="w-100" @click.prevent="submit(0.5)">
              + 0.5
            </BButton>
          </BCol>
        </BRow>
      </BCol>
      <BCol cols="12" lg="5">
        <BRow align-h="around" align-v="center">
          <BCol cols="6">
            <BFormGroup
              label="Or an amount"
              label-for="input-bid"
              label-cols="6"
              class="text-sm-right mb-0 d-flex align-items-center"
            >
              <BFormInput
                id="input-bid"
                v-model.number="customBid"
                type="number"
                step="0.01"
                min="0.01"
                trim
              ></BFormInput>
            </BFormGroup>
          </BCol>
          <BCol cols="4">
            <BButton
              variant="primary"
              class="w-100"
              @click.prevent="submit(customBid)"
              :disabled="customBid < 0.01"
              >Submit</BButton
            >
          </BCol>
        </BRow>
      </BCol>
    </BRow>
  </BForm>
</template>
<script>
export default {
  name: 'BidForm',
  data() {
    return {
      total: 0,
      customBid: 0.01,
    };
  },
  methods: {
    submit(amount) {
      this.total += amount;
      this.$emit('input', this.total);
    },
  },
};
</script>
