<template>
  <BListGroup id="log" ref="log">
    <BListGroupItem v-for="(log, index) in data" :key="index" class="text-left" show>
      <BBadge>{{ log.round }}</BBadge>
      {{ log.buyer.name }} bought from {{ log.seller.name }} for ${{ log.price }}
    </BListGroupItem>
  </BListGroup>
</template>
<script>
export default {
  name: 'Log',
  props: {
    data: {type: Array, required: true},
  },
  updated() {
    this.$refs.log.scrollTop = this.$refs.log.scrollHeight;
  },
};
</script>
<style lang="scss" scoped>
#log {
  max-height: 8em;
  overflow: auto;
}
</style>
