<template>
  <div id="mermaid">
    <BSpinner v-if="!mermaid || !diagram" />
    <div id="mermaid-canvas"></div>
    <div ref="mermaid-target"></div>
  </div>
</template>
<script>
export default {
  name: 'Mermaid',
  props: {
    content: {type: String, required: true},
    styles: {type: Array, default: () => []},
  },
  data() {
    return {
      mermaid: false,
      diagram: false,
    };
  },
  beforeMount() {
    this.initialize().then(() => this.load());
  },
  watch: {
    content() {
      this.diagram = false;
      this.load();
    },
  },
  methods: {
    async initialize() {
      await this.$loadScript('https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js');
      window.mermaid.initialize({
        startOnLoad: false,
        maxTextSize: 1000000000,
        themeCSS: this.styles.join(' '),
        flowchart: {
          diagramPadding: 2,
          useMaxWidth: false,
          curve: 'basis',
        },
      });
      this.mermaid = true;
    },
    load() {
      window.mermaid.render('mermaid-canvas', this.content, (code) => {
        this.$refs['mermaid-target'].innerHTML = code;
        this.diagram = true;
      });
    },
  },
};
</script>
