<template>
  <div id="meta-view" class="px-3">
    <p v-for="(data, index) in parsedData" :key="index" class="text-left">{{ data }}</p>
  </div>
</template>
<script>
export default {
  name: 'MetaView',
  props: {
    data: {type: Array},
  },
  computed: {
    parsedData() {
      console.log('meta', this.data);
      return this.data.map(({content}) => content.replace(/<[^>]+>/g, ''));
    },
  },
};
</script>
